/* for test */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
#example{
    margin:10px 100px;
}

/* styles */
.levus-pagination{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}

